<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appgestioncontacts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".metier.entitites.EspaceActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".metier.entitites.AjouterEtudiantActivity" />
        <activity android:name=".metier.entitites.AjouterEngntActivity" />
        <activity android:name=".metier.entitites.AjouterAdminActivity" />
        <activity android:name=".metier.entitites.ConsulterUnEtudiant" />
        <activity android:name=".metier.entitites.ConsulterUnEnseignant" />
        <activity android:name=".metier.entitites.ConsulterUnAdmin" />
        <activity android:name=".metier.entitites.ConsulterToutEtudiants" />
        <activity android:name=".metier.entitites.ConsulterToutEnseignant" />
        <activity android:name=".metier.entitites.ConsulterToutAdmin" />
        <activity android:name=".metier.entitites.EspaceEtudiant"></activity>
        <activity android:name=".metier.entitites.EspaceAdmin"></activity>
        <activity android:name=".metier.entitites.EspaceEnseignant"></activity>

    </application>

</manifest>